@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
}

#calculator {
  background: lightgray;
  border: 0.5px solid grey;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
  grid-template-areas: 
  "display display display display"
  "buttons buttons buttons buttons"
  "buttons buttons buttons buttons"
  "buttons buttons buttons buttons"
  "buttons buttons buttons buttons"
  "buttons buttons buttons buttons"
  ;
}

#buttons {
  font-family: Share Tech Mono, monospace;
  font-size: 2rem;
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-template-areas:
  "clear divide multiply minus"
  "seven eight nine plus"
  "four five six plus"
  "one two three equals"
  "zero zero decimal equals" 
  ;
}

#display {
  font-family: digital;
  grid-area: display;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 50px);
  grid-template-areas:
  "history history history history"
  "entered entered entered entered"
  ;
  background-color: rgba(0, 0, 0, 0.5);
}

#digit-history {
  grid-area: history;
  color: rgb(243, 216, 65);
  text-align: end;
  line-height: 50px;
  font-size: 1.5rem;
}

#digit-entered {
  grid-area: entered;
  color: rgb(250, 250, 250);
  text-align: end;
  line-height: 50px;
  font-size: 4rem;
}

#equals {
  grid-area: equals;
  background-color:rgb(240, 170, 64);
  color: rgb(255, 255, 255);
  line-height: 200px;
}

#zero {
  grid-area: zero;
  background-color: rgb(240, 240, 240);
}

#one {
  grid-area: one;
  background-color: rgb(240, 240, 240);
}

#two {
  grid-area: two;
  background-color: rgb(240, 240, 240);
}

#three {
  grid-area: three;
  background-color: rgb(240, 240, 240);
}

#four {
  grid-area: four;
  background-color: rgb(240, 240, 240);
}

#five {
  grid-area: five;
  background-color: rgb(240, 240, 240);
}

#six {
  grid-area: six;
  background-color: rgb(240, 240, 240);
}

#seven {
  grid-area: seven;
  background-color:rgb(240, 240, 240);
}

#eight {
  grid-area: eight;
  background-color: rgb(240, 240, 240);
}

#nine {
  grid-area: nine;
  background-color: rgb(240, 240, 240);
}

#add {
  grid-area: plus;
  background-color: rgb(240, 170, 64);
  color: rgb(255, 255, 255);
  line-height: 200px;
}

#subtract {
  grid-area: minus;
  background-color: rgb(240, 170, 64);
  color: rgb(255, 255, 255);
}

#multiply {
  grid-area: multiply;
  background-color: rgb(200, 200, 200);
}

#divide {
  grid-area: divide;
  background-color: rgb(200, 200, 200);
}

#decimal {
  grid-area: decimal;
  background-color: rgb(240, 240, 240);
}

#clear {
  grid-area: clear;
  background-color: rgb(200, 200, 200);
}

.btn {
  border: 0.5px solid grey;
  text-align: center;
  line-height: 100px;
}

.btn:hover {
 
  border: 0.5px solid white;
}
